@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&display=swap");
body {
  margin: 0;
  background-image: url("https://i.imgur.com/c760KJM.png");
  background-repeat: no-repeat;
  width: 100%;
}
.top {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
#left {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

#right {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}
#left > div {
  margin: 0 15px;
}
#right > div {
  margin: 0 15px;
}
#logo {
  width: 100%;
}
#AboutMe {
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}
#nico {
  width: 100%;
  grid-column-start: 0;
  grid-column-end: 100;
  grid-row-start: 100;
  grid-row-end: 100;
}
#me {
  grid-column-start: 40;
  grid-column-end: 60;
  grid-row-start: 25;
  grid-row-end: 35;
}
#words {
  grid-column-start: 40;
  grid-column-end: 72;
  grid-row-start: 33;
  grid-row-end: 50;
}
#stickers {
  display: grid;
  grid-template-columns: repeat(100, 1%);
  grid-template-rows: repeat(100, 1%);
}
#skull {
  hight: 700px;
  width: 700px;
  grid-column-start: 60;
  grid-column-end: 0;
  grid-row-start: 4;
  grid-row-end: 0;
}
#skull:hover {
  transition-duration: 1s;
  transform: rotate(-3deg) scale(1.1);
}
#monster {
  hight: 700px;
  width: 700px;
  grid-column-start: 25;
  grid-column-end: 0;
  grid-row-start: 11;
  grid-row-end: 0;
}
#monster:hover {
  transition-duration: 1s;
  transform: rotate(3deg) scale(1.1);
}
#wonderland {
  hight: 450px;
  width: 450px;
  grid-column-start: 60;
  grid-column-end: 0;
  grid-row-start: 18;
  grid-row-end: 0;
}
#wonderland:hover {
  transition-duration: 1s;
  transform: rotate(-3deg) scale(1.1);
}
#hippy {
  hight: 700px;
  width: 700px;
  grid-column-start: 25;
  grid-column-end: 0;
  grid-row-start: 24;
  grid-row-end: 0;
}
#hippy:hover {
  transition-duration: 1s;
  transform: rotate(3deg) scale(1.1);
}
#scarry {
  hight: 450px;
  width: 450px;
  grid-column-start: 60;
  grid-column-end: 0;
  grid-row-start: 31;
  grid-row-end: 0;
}
#scarry:hover {
  transition-duration: 1s;
  transform: rotate(-3deg) scale(1.1);
}
#VW {
  hight: 700px;
  width: 700px;
  grid-column-start: 25;
  grid-column-end: 0;
  grid-row-start: 38;
  grid-row-end: 0;
}
#VW:hover {
  transition-duration: 1s;
  transform: rotate(3deg) scale(1.1);
}
#space {
  hight: 700px;
  width: 700px;
  grid-column-start: 60;
  grid-column-end: 0;
  grid-row-start: 45;
  grid-row-end: 0;
}
#space:hover {
  transition-duration: 1s;
  transform: rotate(-3deg) scale(1.1);
}
#planits {
  hight: 700px;
  width: 700px;
  grid-column-start: 25;
  grid-column-end: 0;
  grid-row-start: 52;
  grid-row-end: 0;
}
#planits:hover {
  transition-duration: 1s;
  transform: rotate(3deg) scale(1.1);
}
#contact{
    grid-column-start: 50;
  grid-column-end: 70;
  grid-row-start: 58;
  grid-row-end: 0;
}
#Phone{
  grid-column-start: 50;
  grid-column-end: 70;
  grid-row-start: 59;
  grid-row-end: 0;
}
h1 {
  color: white;
  font-family: Pacifico;
  font-size: 5em;
}
h3 {
  color: white;
  font-family: Pacifico;
  font-weight: 400;
  font-size: 2em;
}
p {
  color: white;
  font-family: OpenSans;
  font-size: 2em;
}
a {
  color: white;
}
